body{
  background-color: #232f71;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
*{
  box-sizing: border-box;
}

.fullHeight{
  height: 100vh;
}

.fullWidth{
  width: 100vw;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.informationComponent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 40dvw;
  background-color: #f0c9c9;
  box-shadow: 39px 47px 64px;
  
  
}

.infomationItems{
  margin:4px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
}
input{
  margin-top: 7px;
  width: 30dvw;
  padding: 4px;
}
.formContainer{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0c9c9;;
  border-radius: 6px;
  box-shadow: 39px 47px 64px;

}

select{
  margin-top: 7px;
  padding: 4px;
  width: 30dvw;
}

.btn{
  width: 30dvw;
  padding: 4px;
  margin: 4px;
}

.invalidDivs{
  font-size: small;
  color: red;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
